#about{
  min-height: 100vh;
  padding-top: 6rem;
  padding-bottom: 3rem;
  background-color: var(--tertiary-colour);
}


.profile-bio {
  font-size: 24px;
  text-align: justify;
  margin-bottom: 15px;
  color: var(--secondary-colour);
  
}

.profile-bio a {
  color: #E7F3F9 !important;
}

.twoColumns{
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}

@media (max-width: 900px) {
  .twoColumns {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;

  }
}
.about-row {
  margin-top: 60px;
}
.about-btn {
  width: 100%;
  border-radius: 0 !important;
  background-color: #839fb1 !important;
  color: #E7F3F9  !important;
  border: none !important;
}

.about-btn:hover {
  background-color: #576b77 !important;
}