#contact {
  background-color: var(--secondary-colour);
  padding-top: 6rem;
  padding-bottom: 3rem;
  min-height: 100vh !important;
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}