#home {
  min-height: 100vh;
  padding-top: 150px;
}

.home-content {
  margin-top: 7em;
}


.profile-pic {
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.intro {
  font-size: 3em;
  color: var(--primary-colour);
}
.intro span{
  color: var(--tertiary-colour);
}

.home-bio {
  font-size: 4em;
  text-align: center;
  margin-bottom: 15px;
  color: var(--tertiary-colour);
}

  
@media(max-width: 600px) {
  #home {
    
  background-image: url('../../assets/background2.jpg');
  background-size: cover;
  }
}