.maintitle h1 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;

}

.primary-hr {
  border-top: 3px solid var(--tertiary-colour) !important;
  width: 50px;
}

.primary-h1 {
  color : var(--primary-colour);
}

.secondary-hr {
  border-top: 3px solid var(--primary-colour) !important;
  width: 50px;
}

.secondary-h1 {
  color : var(--secondary-colour);
}

