#projects {
  min-height: 100vh;
  padding-top: 6rem;
  padding-bottom: 3rem;
  background-color: var(--tertiary-colour);
}


.projectbox {
  padding:0px !important;
  max-width: 450px !important;
}

.project-area{
  padding-top: 4rem;
}

.animated {
  animation-fill-mode: backwards !important;
}
