.navbar{
  padding: 0px !important;
  background-color: var(--secondary-colour) !important;
  margin-bottom: 20px;
}

.navbar-center{
  position: absolute;
  left: 50%;
  transform: translatex(-50%)
}

.logo {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.logo:hover {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.nav-item {
  font-size: 20px;
  margin-left: 20px;
}

.nav-link {
  color: var(--tertiary-colour) !important;
}
.nav-link:hover {
  cursor: pointer;
}

.nav-link.active{
  /* text-decoration: underline !important; */
  color: var(--primary-colour) !important;
}